---
import Base from "@/layouts/Base.astro";
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import PageHeader from "@/partials/PageHeader.astro";
import NotFound from "@/components/common/NotFound.astro";

import { fetchPostsByTag, fetchTagBySlug, fetchTotalPostCountByTag, fetchCategories, fetchTags } from "@/utils/fetchPosts";

const { slug } = Astro.params;
const currentPage = 1;
const postsPerPage = 6;

const tag = await fetchTagBySlug(slug);
const totalPosts = tag ? await fetchTotalPostCountByTag(tag.id) : 0;
const posts = tag && totalPosts > 0 ? await fetchPostsByTag(tag.id, currentPage, postsPerPage) : [];

const totalPages = Math.ceil(totalPosts / postsPerPage);

const categories = await fetchCategories();
const tags = await fetchTags();
---

<Base title={tag ? `Tag: ${tag.name}` : "Tag Not Found"}>
  {(!tag || totalPosts === 0) ? (
    <NotFound />
  ) : (
    <>
      <PageHeader title={`Tag: ${tag.name}`} />
      <section class="section">
        <div class="container">
          <div class="row gx-5">
            <div class="lg:col-8">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {posts.map((post) => (
                  <BlogCard data={{
                    title: post.title.rendered,
                    excerpt: post.excerpt.rendered,
                    slug: post.slug,
                    image: post._embedded?.['wp:featuredmedia']?.[0]?.source_url,
                    date: post.date,
                  }} />
                ))}
              </div>
              <Pagination section={`tag/${slug}`} currentPage={currentPage} totalPages={totalPages} />
            </div>

            <PostSidebar categories={categories} tags={tags} />
          </div>
        </div>
      </section>
    </>
  )}
</Base>